<h1>Sign Up</h1>
<form action="/api/users" method="post">
  <p>Name: <input type="text" name="name"></p>
  <p>email: <input type="text" name="email"></p>
  <p>password: <input type="password" name="password"></p>
  <p>password confirmation: <input type="password" name="password_confirmation"></p>

<input type = "submit" value = "Submit">